@charset "utf-8";

/*Estilos de toda la pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width:100%;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr 10%;
    grid-template-areas: "header main""footer footer";
    grid
   

}

/*Estilos de la cabecera*/
header{
    grid-area: header;

    background-color: blue;
    padding: 2em;
}

header ul{
    list-style: none;
}

h1{
    padding-top: 1em;
    
}

h2{
    padding-top: 1em;
    padding-bottom: 1em;
}


/*Estilos de los acordeones*/

.acordeon{
    width:100%;
    height:25px;
    margin:3px;
    
} 

.acordeon:hover{
    background-color: grey;
}


/*Estilos del contenido principal*/
main{
    grid-area: main;
    background-color: red;
}



.prgrOff{

    display:none;
}

.prgrOn{
    display:initial;
}




/*Estilos del pie de pagina*/
footer{
    grid-area: footer;
    background-color: rgb(2, 78, 2);
    padding: 1em;
    
}





